<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["PiedraAzul.styles.css"]" />
    <link rel="stylesheet" href="@Assets["output.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <!-- Landing mientras carga -->
    <div id="landing">
        <div class="flex flex-col items-center justify-center h-screen text-center">
            <h1 class="text-4xl font-bold text-blue-600">Piedra Azul</h1>
            <p class="mt-4 text-gray-600">Cargando aplicación...</p>

            <div class="spinner mt-6"></div>
        </div>
    </div>

    <div id="app" style="display:none">
        <Routes @rendermode="InteractiveAuto" />
    </div>

    <script>
        const observer = new MutationObserver(() => {
        const app = document.querySelector("#app");
        if (app && app.children.length > 0) {
        document.getElementById("landing").style.display = "none";
            app.style.display = "block";
        observer.disconnect();
        }
        });

        observer.observe(document.querySelector("#app"), { childList: true });
    </script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
