@page "/doctor/agenda"
@layout PiedraAzul.Client.UI.Shared.Layout.EmptyLayout
@using System.Globalization
@using PiedraAzul.Client.States
@inject UserState UserState

<div>
</div>

@code {
    //codiguito
}
