@page "/doctor"
@layout PiedraAzul.Client.UI.Shared.Layout.EmptyLayout
@using PiedraAzul.Client.States
@inject UserState UserState

<div>
   
</div>

@code {
    // Preparado para la lógica futura
    // Aquí se inyectarían los servicios para cargar las estadísticas reales
}
