@page "/doctor/configurar-horario"
@layout PiedraAzul.Client.UI.Shared.Layout.EmptyLayout
@using System.Globalization
@using PiedraAzul.Client.States
@inject UserState UserState

<div class="min-h-screen bg-slate-50 pb-12">
    
</div>

@code {
    //code code code
}

<style>
    /*estilitos*/
</style>
