  <div class="w-full max-w-lg">
    <h2 class="mb-2 text-left text-3xl font-bold">Ingresa a tu cuenta</h2>
    <p class="text-left">Por favor llena tus datos debajo del recuadro para iniciar.</p>
    <p class="text-left">Escriba en las cajas de texto</p>
    <!--Login form-->
    <form action="" class="mt-5 p-3 shadow">
      <div class="flex flex-col">
        <label for=""> Ingrese su numero de identificación, su telefono, o correo </label>
        <input class="rounded-md border border-[#257D8D] px-3 py-4 outline-none focus:ring-2 focus:ring-teal-400" type="text" name="login" id="" placeholder="Ej: 10 123 4567" />
      </div>
      <div class="flex flex-col">
        <label for=""> Ingrese su contraseña </label>
        <input type="password" class="rounded-md border border-[#257D8D] px-3 py-4 outline-none focus:ring-2 focus:ring-teal-400" name="login" id="" placeholder="Ej: tu contraseña super secreta" />
      </div>
      <div class="mt-3 grid gap-3 md:grid-cols-2">
        <button @onclick="async () => await OnRegisterClick.InvokeAsync()" type="submit" class="cursor-pointer text-balance rounded-md border border-[#CBD5E1] bg-[#E2E8F0] p-3 transition-colors duration-200 hover:bg-[#CBD5E1]">¿No tienes cuenta, presiona aqui para registrarte?</button>

        <button type="submit" class="cursor-pointer text-balance rounded-md border border-[#CBD5E1] bg-[#257D8D] p-3 transition-colors duration-200 hover:bg-[#1E5F6F]">Presiona para ingresar sesión</button>
      </div>
    </form>
  </div>

@code {
    [Parameter]
    public EventCallback OnRegisterClick { get; set; }
}